.overlay-loading {
    display: none;
    position: absolute;
    text-align: center;
    background: gray;
    color: white;
    padding-left: 16px;
}

.overlay-loading.active {
    display: block;
}

.overlay-loading.active+.new-todo{
    pointer-events: none;
    tab-index: -1;
    opacity: 0;
}